<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tapToZoom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F2D99F31C49B50000E355DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F2D9A0C1C49B50000E355DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F2D9A171C49B50000E355DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
